<div class="container-fluid">
  <div class="container py-5">
    <div
      class="board"
      cdkDropList
      [cdkDropListData]="tracks"
      (cdkDropListDropped)="onTrackDrop($event)"
      cdkDropListOrientation="horizontal"
    >
      <div class="card-list" *ngFor="let track of tracks">
        <div
          class="card-list-content"
          cdkDropList
          [id]="track.id"
          [cdkDropListData]="track.items"
          [cdkDropListConnectedTo]="trackIds"
          (cdkDropListDropped)="onTalkDrop($event)"
        >
          <mdb-card
            *ngFor="let item of track.items; let i = index"
            class="animated fadeIn mb-3"
            borderColor="border-black"
            cdkDrag
          >
            <mdb-card-header cdkDragHandle>{{ item.title }}</mdb-card-header>
            <mdb-card-body class="p-3">
              <mdb-card-title>
                <h5 class="mb-3">{{ item.id }}</h5>
              </mdb-card-title>
              <mdb-card-text> {{ item.description }} </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
