

<div class="container-fluid pb-5">
    <div class="section-header">
        <h3 class="black-text">Degree Path</h3>
        <p class="black-text pt-3">Add, edit and delete your paths</p>
      </div>
  <div class="py-5">
      <button mdbBtn color="grey" class="ml-3" (click)="openAddProjectModal()">Add new paths</button>
      <app-projects-list [projects]="projects$ | async" (projectDeleted)="onProjectDelete($event)" (projectEdited)="onProjectEdit($event)"></app-projects-list>

    <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
      <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
