.full-page-container {
    background: #000000 url('../../../assets/img/northstar.jpg');
    background-size: cover;
}
.app-heading {
    font-size: 5.5rem;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

